html,
body{
  font-family: IBM Plex Sans,-apple-system,Segoe UI,Helvetica,Arial,sans-serif;
  font-size: 16px;
}
input{
  background: none;
}
[class*="Input__InputWrapper"],
[class*="Dropdown__DropdownHeader"]{
  border-width: 1px;
  height: 48px;
}
[class*="Input__Label"]{
  color: #718096;
}
[class*="styles__Content"],
.cVteUb{
  padding: 0;
}
[class*="styles__LeftSide"],
.iROagG{
  width: 100%;
}
[class*="List__Row"]{
  font-size: 1rem;
}
